<table class="digits">
  <tr>
    <th><div><h1 id="<%= @id_name %>_digits_0">0</h1></div></th>
    <th><div><h1 id="<%= @id_name %>_digits_1">1</h1></div></th>
    <th><div><h1 id="<%= @id_name %>_digits_2">2</h1></div></th>
    <th><div><h1 id="<%= @id_name %>_digits_3">3</h1></div></th>
    <th><div><h1 id="<%= @id_name %>_digits_4">4</h1></div></th>
    <th><div><h1 id="<%= @id_name %>_digits_5">5</h1></div></th>
  </tr>
</table>

<div style="margin-left: 14px">
  <div class="progress range_progress">
    <div class="progress-bar progress_0" id="<%= @id_name %>_progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5"></div>
  </div>
</div>


<br>