<link rel="stylesheet" type="text/css" href="bootstrap-colorselector.css" />
<script src="bootstrap-colorselector.js"></script>

<div id="new_hive_comp">

<%= image_tag 'big_honeycomb3.png', id: 'img_new_hive'%>
    <div id="new_hive_heading" class="show shown">
    <h3> New </h3>
    <h3> Hive </h3>
    <i class="fa fa-map-marker fa-2x"></i><i class="fa fa-plus-circle fa-xs"></i>
  </div>

  <div id="new_hive_form" class="hide hidden transparent">

    <div style="margin-bottom: 20px">
      <i class="fa fa-times-circle fa-lg" id="close_add_form"></i>
    </div>

    <%= form_with model: @hive, class: 'transparent', local: true do |f| %>

      <div class="form-add-hive">
        <h1 class="h3 mb-3 font-weight-normal" style="text-decoration: underline">New Hive</h1>

        <div class="form-row" style="margin-bottom: 10px">
          <div class="col-2"></div>
          <div class="col">
            <div class="input-group">
              <div class="input-group-prepend" style="width: 80px">
                <%= f.text_field :hive_number, autofocus: true, class: 'form-control', placeholder: 'Nr.', type: 'text', style: 'text-align: center; margin-right: 10px'%>
              </div>
              <%= f.select :country_id, options_for_select(@locations.map{ |l| [l.name, l.id] }), {:prompt => 'Select Location'}, class: 'form-control' %>
            </div>
          </div>
          <div class="col-2"></div>
        </div>

        <div class="form-row">
          <%= f.text_field :colony_type, class: 'form-control top', placeholder: 'Colony type', type: 'text' %>
        </div>

        <div class="form-row">
          <%= f.text_field :hive_type, class: 'form-control middle', placeholder: 'Hive type', type: 'text' %>
        </div>

        <div class="form-row">
          <div class="input-group">
            <div class="input-group-prepend">
              <span id="date_span" class="input-group-text middle" style="width: 160px;">Colony created at:</span>
            </div>
            <%= f.date_field :colony_created_at, class: 'form-control middle', placeholder: 'Colony created at', type: 'date' %>
          </div>
        </div>

        <div class="form-row">
          <div class="input-group">
            <div class="input-group-prepend">
              <span id="date_span" class="input-group-text bottom" style="width: 160px">Queen added at:</span>
            </div>
            <%= f.date_field :queen_added_at, class: 'form-control bottom', placeholder: 'Queen added at', type: 'date' %>
          </div>
        </div>

        <div id="additional_settings_input_form" class="hidden">
          <div class="form-row">
            <%= f.text_field :breed, class: 'form-control middle', placeholder: 'Year Color', type: 'text' %>
            <select id="colorselector">
              <option value="106" data-color="#A0522D">sienna</option>
              <option value="47" data-color="#CD5C5C">indianred</option>
              <option value="87" data-color="#FF4500">orangered</option>
              <option value="15" data-color="#DC143C">crimson</option>
            </select>
          </div>
        </div>

        <div class="form-row", style="margin-top: 10px; margin-bottom: 10px">
          <div class="form-row" id="slider_row" style="color: #777; align: center">
            <label class="switch" style="margin-bottom: 20px; margin-top: -5px">
              <input type="checkbox" id="activate_additional_settings_input">
              <span class="slider"></span>
            </label>
            Show additional settings
          </div>
        </div>

        <div class="form-row">
          <div class="col-3"></div>
          <div class="col">
            <div class="actions">
             <%= f.submit "Add Hive", class: 'btn', type: 'submit', id: 'add-hive-submit'%>
           </div>
          </div>
          <div class="col-3"></div>
        </div>

      </div>

    <% end %>
  </div>

</div>

