<%= javascript_include_tag "hive", "data-turbolinks-track" => true  %>

<div class="wrapper">

  <%= render 'nav' %>

  <div style="height: 190px"></div>


  <div style="text-align: center">

    <div class="row">
      <div class="col" style="padding: 0; margin-left: 60px; margin-top: 102px">
        <%= render 'new_perusal_comb' %>
      </div>
      <div class="col" id="col_show_hive_comb" style="max-width: 106px; padding: 0">
        <%= render 'show_hive_comb' %>
      </div>
      <div class="col" style="padding: 0; margin-left: 60px; margin-top: 102px">
        <%= render :partial => 'show_all_perusal_comb' %>
      </div>
    </div>

    <br><br><br>

    <%= render 'super/new' %>

    <br><br><br>

    <%= render 'super/all_supers' %>

  </div>

</div>