<%= javascript_include_tag "frame", "data-turbolinks-track" => true  %>

<div class="edit_frame" >

  <% @edit_frame_form = "edit_frame_form_" + @super_index.to_s + "_" + @frame_index.to_s %>
  <% @close_edit_frame = "close_edit_frame_" + @super_index.to_s + "_" + @frame_index.to_s %>
  <% @edit_frame_heading = "edit_frame_heading_" + @super_index.to_s%>
  <% @hidden_super_id = "hidden_super_id_" + @super_index.to_s%>

  <div id="<%= @edit_frame_form %>" class="hide hidden edit_frame_form">

    <%= form_with model: @frame_exist, url: '/frame/'+@frame_exist.id.to_s, class: 'transparent', local: true do |f| %>

      <div class="form_edit_frame">
        <h1 class="h3 mb-3 font-weight-normal" style="color: #f2d002">
          <div style="display: inline; text-decoration: underline;">Edit Frame</div>
          <div style="display: inline;"><i class="fa fa-pencil"> </i></div>
        </h1>

        <div class="form-row" style="margin-top: -8px">
          <div class="col-1">
            <i class="fa fa-times-circle fa-lg close_edit_frame" id="<%= @close_edit_frame %>" style="color: #777; margin-top: 10px; margin-left: 6px"></i>
          </div>
          <div class="col" style="max-width: 80px">
            <%= f.text_field :letter, class: 'form-control', placeholder: 'Letter', type: 'text', autofocus: true, id: 'letter' + @frame_exist.id.to_s, value: @frame_exist.letter.to_s, style: 'background-color: transparent; border-color: #f2d002; color: #f2d002'%>
          </div>
          <div class="col">
            <%= f.select :frame_type, options_for_select({"Middle Wall" => "0", "Honey" => "1", "Pollen" => "2", "Feed" => "3", "Brood" => "4", "Drone" => "5", "Empty" => "6"}, :selected => @frame_exist.frame_type), class: 'form-control', id: 'select_frame_type' %>
          </div>

          <%= f.hidden_field :super_id, id: @super_id %>

          <div class="col" style="max-width: 80px; margin-left: -8px">
            <div class="actions">
              <%= f.submit "Edit", class: 'btn', type: 'submit', id: 'edit-frame-submit', style: ' border: 1px #f2d002 solid'%>
            </div>
          </div>
        </div>

      </div>

    <% end %>

  </div>

</div>

