<%= javascript_include_tag "frame", "data-turbolinks-track" => true  %>

<div class="new_frame">

  <% @new_frame_form = "new_frame_form_" + @super_index.to_s%>
  <% @close_add_frame = "close_add_frame_" + @super_index.to_s%>
  <% @new_frame_heading = "new_frame_heading_" + @super_index.to_s%>
  <% @hidden_super_id = "hidden_super_id_" + @super_index.to_s%>
  <% @img_id = "img_new_frame_" + @super_index.to_s%>
  <%= image_tag 'framev1.png', id: @img_id, class: 'img_new_frame' %>

  <div id="<%= @new_frame_heading %>" class="show shown new_frame_heading">
    <i class="fa fa-plus-circle fa-2x"></i>
  </div>

  <div id="<%= @new_frame_form %>" class="hide hidden new_frame_form">

    <%= form_with model: @frame, url: '/frame', class: 'transparent', local: true do |f| %>

      <div class="form_add_frame">
        <h1 class="h3 mb-3 font-weight-normal" style="color: #f2d002">
          <div style="display: inline; text-decoration: underline;">Add Frame</div>
          <div style="display: inline; font-size: 22px"><i class="fa fa-plus-circle"> </i></div>
        </h1>

        <div class="form-row" style="margin-top: -8px">
          <div class="col-1">
            <i class="fa fa-times-circle fa-lg close_add_frame" id="<%= @close_add_frame %>" style="color: #777; margin-top: 10px; margin-left: 6px"></i>
          </div>
          <div class="col" style="max-width: 80px">
            <%= f.text_field :letter, class: 'form-control', placeholder: 'Letter', type: 'text', autofocus: true, style: 'background-color: transparent; border-color: #f2d002; color: #f2d002'%>
          </div>
          <div class="col">
            <%= f.select :frame_type, options_for_select({"Middle Wall" => "0", "Honey" => "1", "Pollen" => "2", "Feed" => "3", "Brood" => "4", "Drone" => "5", "Empty" => "6"}, "6"), class: 'form-control', id: 'select_frame_type' %>
          </div>

          <%= f.hidden_field :super_id, id: @hidden_super_id %>

          <div class="col" style="max-width: 80px; margin-left: -8px">
            <div class="actions">
              <%= f.submit "Add", class: 'btn', type: 'submit', id: 'add-frame-submit', style: ' border: 1px #f2d002 solid'%>
            </div>
          </div>
        </div>

      </div>

    <% end %>
  </div>

</div>

