<% @max_index = 0 %>

<% @supers.each_with_index do |sup, index| %>
  <div class="row" style="margin-top: -64px; position: relative; z-index: <%= 20-index %>">

    <div class="col" style="margin-top: 120px; text-align: right; color: #f2d002">
      <h2>Nr. <%= sup.number %></h2>
      <h3><%= sup.super_type %></h3>
    </div>

    <div class="col">
      <%= image_tag 'Superv3-top.png', class: 'img_super', style: 'zoom: 60%'%>
      <div style="margin-top: -210px; margin-bottom: 20px">
        <div class="row" style="margin-left: 20px; height: 190px">
          <% @frames.each_with_index do |frm, index| %>
            <% if frm.super_id == sup.id %>
              <%= image_tag 'framev1.png', class: 'img_frame', style: 'zoom: 60%; margin-left: 35px'%>
              <h6 style="color: #f2d002; margin-left: -62px; margin-top: 44px; width: 10px"><%= frm.letter %></h6>
              <%= link_to '<i class="fa fa-trash del_frame" style="margin-left: -5px"></i>'.html_safe,
                          frame_path(frm),
                          class: 'btn btn-sm',
                          style: 'color: #777; margin-left: -15px; margin-top: 115px; height: 24px; width: 20px',
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %>
            <% end %>
          <% end %>

          <% @img_id = index %>
          <%= render 'frame/new' %>

        </div>
      </div>
    </div>

    <div class="col"></div>

  </div>

  <% if index > @max_index %>
    <% @max_index = index %>
  <% end %>

  <div data-super-id = "<%= sup.id %>" id="super_id_<%= index %>" ></div>

<% end %>

<div data-super-length = "<%= @max_index %>" id="max_super_index" ></div>
